@media only screen 
and (max-width: 400px){
    #design-image{
        height: 24vh;
        width: 191%;
    }
    .text{
        margin-top: 15pc;
    }
    video{
        height: 54%;
    }
    .our-story-section{
        margin-top: 150%;
    }
    .our-story-text{
        font-size: 60px;
    }
    .simple-story-discription{
        font-size: 25px;
    }
    .find-more{
        font-size: 10px;
    }
    .item1 img{
        height: 30vh;
        width: 40vh;
    }
    .item4 img{
        height: 30vh;
        width: 40vh;
    }
    .item5 img{
        height: 50vh;
        width: 60vh;
    }
    .item6 img{
        height: 30vh;
        width: 40vh;
    }
    .collage-image-container {
        margin-left: 100px;
    }
    .discovery{
        margin: 10pc 15.5pc;
        font-size: 50px;
    }
}