@media only screen 
and (max-width: 400px){
    /* body,html{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        font-family: 'Nunito', sans-serif;
        scroll-behavior: smooth;
      } */

      .menu-inner{
        margin-top: 10pc;
    }
    /* #design-image{
        height: 100%;
        width: 100%;
    } */
    /* .text{
        top: 15pc;
    } */
    video{
        height: 54%;
    }
    /* .our-story-section{
        margin-top: 150%;
    } */
    .our-story-text{
        font-size: 60px;
    }
    .simple-story-discription{
        font-size: 25px;
    }
    .find-more{
        font-size: 10px;
    }
    .item1 img{
        height: 50vh;
        width: 60vh;
    }
    .item2 img{
        height: 50vh;
        width: 60vh;
    }
    .item3 img{
        height: 50vh;
        width: 60vh;
    }
    .item4 img{
        height: 50vh;
        width: 60vh;
    }
    .item5 img{
        height: 50vh;
        width: 60vh;
    }
    .item6 img{
        height: 50vh;
        width: 60vh;
    }.item7 img{
        height: 50vh;
        width: 60vh;
    }.item8 img{
        height: 50vh;
        width: 60vh;
    }.item9 img{
        height: 50vh;
        width: 60vh;
    }.item10 img{
        height: 50vh;
        width: 60vh;
    }
    .collage-image-container {
        margin-left: 100px;
    }
    .discovery{
        margin: 10pc 15.5pc;
        font-size: 50px;
    }
    .logo-container{
        width: 53%;
        height: auto;
        display: flex;
        /* position: fixed; */
        margin-top: -8px;
    }
}



@media only screen 
and (max-width: 750px){
    .menu-inner{
        margin-top: 10pc;
    }
    /* #design-image{
        padding-left: 45px;
    height: 100%;
    width: 60vh;
    } */
    .text{
        line-height: 15px;
        left: 40px;
        top: 90pc;
    }
    .text h2{
        font-weight: lighter;
    }
    .text h3{
        font-weight: lighter;
    }
    video{
        width: 100%;
        /* padding-top: 10pc; */
        height: 102%;
    }
    .our-story-section{
        top: 100pc;
    }
    .our-story-text{
        padding-top: 3pc;
        font-size: 60px;
    }
    .simple-story-discription{
        line-height: 0;
        font-size: 25px;
    }
    .find-more{
        font-size: 16px;
    }
    .item1 img{
        height: 50vh;
        width: 60vh;
    }
    .item2 img{
        height: 50vh;
        width: 60vh;
    }
    .item3 img{
        height: 50vh;
        width: 60vh;
    }
    .item4 img{
        height: 50vh;
        width: 60vh;
    }
    .item5 img{
        height: 50vh;
        width: 60vh;
    }
    .item6 img{
        height: 50vh;
        width: 60vh;
    }.item7 img{
        height: 50vh;
        width: 60vh;
    }.item8 img{
        height: 50vh;
        width: 60vh;
    }.item9 img{
        height: 50vh;
        width: 60vh;
    }.item10 img{
        height: 50vh;
        width: 60vh;
    }
    .studio2{
        font-size: 40px;
    }
    .collage-image-container {
        margin-left: 0px;
    }
    .discovery{
        line-height: 3pc;
        margin: 10pc 0pc;
        font-size: 25px;
    }
    .discovery-work{
        line-height: 10pc;
        font-size: 16px;
    }
    .logo-container{
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        margin-top: -8px;
    }
}

@media only screen 
and (max-width: 500px){
    #design-image{
    height: 82%;
    width: 100%;
    }
    .footer-account ul li{
        font-size: 20px;
        width: 160px;
    }
    .privacy{
        margin-bottom: 50px;
    }
    .privacy p{
        font-size: 20px;
    }
    .footer{
        margin-top: 30px;
        margin-left: 0;
    }
    #word{
        font-weight: bold;
        font-size: 30px;
    }

    .sec1 img{
        height: 38vh;
        width: 38vh;
    }

}


@media screen and (min-device-width: 820px) and (max-device-width: 900px) { 
    #design-image{
        width: 100%;
        height: 41%;
    }
    .text{
        margin-top: 64pc;
    }
    .our-story-section{
        margin-top: 143%;
    }
}

@media screen and (min-device-width: 750px) and (max-device-width: 820px){

    #design-image{
        width: 100%;
        height: 34%;
    }
    .text{
        margin-top: 55pc;
    }
    .our-story-section{
        margin-top: 85pc;
    }
}

@media screen and (min-device-width: 250px) and (max-device-width: 320px){

    .sec1 img {
        height: 33vh;
        width: 33vh;
    }
    .text {
    line-height: 15px;
    left: 30px;
    top: 90pc;
}
}

/* @media only screen 
and (min-device-width: 399px){
    .sec1 img {
        height: 25vh;
        width: 25vh;
    }
  } */

