@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nunito&display=swap');


body,html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

video{
    width: 100%;
    height: 110%;
    object-fit: cover;
    position: fixed;
    margin-top: -7px;
}
#design-image{
    background-image: url(/images/logo-cut-out-dark-2.png);
    background-size: 100%
}
#design-image{
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    z-index: 10;
    /* transition: background 0.2s ease; */

}
.text{
    position: absolute;
    margin-left: 10px;
    /* z-index: 10; */
    margin-top: 50pc;
}
.our-story{
    background-color: white;
    margin: 0 0;
    /* align-items: center;
    text-align: center;
    justify-content: center; */
    padding-top: 50px;
    transition: background 1.3s ease;
}
.our-story-section{
    background-color: white;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 100%;
    align-items: center;
    /* margin-left: 20%; */
    
}
.our-story-text{
    text-align: center;
    font-size: 70px;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}
.simple-story-discription{
    font-size: 50px;
}
.find-more{
    font-size: 20px; opacity: 0.5;
}
.image-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-container img{
    height: 20vw;
    width: 30vw;
}

.discovery{
    font-size: 70px; 
    font-weight: lighter;
    text-align: center;
    margin: 10pc 12pc;
}
.discovery-work{
    font-size: 20px; 
    opacity: 0.5;
}
.studio{
    margin-top: 20%;
}
.studio2{
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    /* transition: opacity 1s ease; */
}

.music{
    float: left ;
    margin-top: 15px;
    margin-bottom: 55px;
    margin-left: 16px;
    /* object-fit: fill; */
}

.collage-image-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.sec1{
    margin-right: 10px;
}
.sec1 img{
    height: 55vh;
    width: 55vh;
    padding: 30px;
    object-fit: cover;
}
.image-collage{
    cursor: pointer;
    transition: 1s ease;
}
.image-collage:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.05);
    transition: 1s ease;
    cursor: pointer;
}
.description{
    margin-left: 25px;
    margin-top: -20px;
}
.description h3{
    font-size: 20px;
}
.description-detail{
    margin-left: -55px;
    margin-top: -10px;
}
.description-detail ul li{
    list-style: none;
    /* display: flex; */
    float: left;
    padding-left: 15px;
}

.foot{
    position: relative;
    margin-top: 10%;
}
.foot-video{
    position: relative;
}
.foot-video video{
    position: relative;
    height: 100%;
    width: 100%;
}
.footer{
    margin-top: 100px;
    margin-left: 20px;
}
.footer-account ul li{
    list-style: none;
    font-weight: bold;
    border-bottom: 0.15rem solid white;
    width: 100px;
}
.footer-account ul li:hover{
    border-bottom: 0.15rem solid  black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.privacy{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-weight: lighter;
}

.changeText{
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
}